@import '../../styles/_mixins.scss';

.colors {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px;
  border: $border-black;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
  }
}
