@import '../../styles/_mixins.scss';

.colors {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: $border-black;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin-bottom: 8px;

    &.none {
      margin-bottom: 0;
    }
  }
}
